@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-2">
    <div class="row pt-2">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-secondary"> <i class="bi bi-plus-circle"></i> &nbsp; Create new category</a>
        </div>
    </div>
    <br />
</div>
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th> Category name </th>
            <th> Display order </th>
            <th> Created at </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td style="width:30%">@obj.Name</td>
                <td style="width:20%">@obj.DisplayOrder</td>
                <td style="width:20%">@obj.CreatedDateTime.ToString()</td>
                <td style="width:30%" class="text-center">
                    <div class="btn btn-group" role="group">
                        <a asp-controller="Category" asp-action="Edit" asp-route-ID="@obj.ID" class="btn btn-secondary mx-2"> <i class="bi bi-pencil-square"></i> &nbsp; Edit</a>
                        <a asp-controller="Category" asp-action="Delete" asp-route-ID="@obj.ID" class="btn btn-danger mx-2"> <i class="bi bi-trash-fill"></i> &nbsp; Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>